*~
.DS_Store
ThumbsDB
\#*#
.#*
*toc
*aux
*log
*out
*snm
*nav
*out
*pyc
*aux
*fdb_latexmk
*log
*syctex.gz
*toc
*pdf
*.egg-info
*.tmproj
*.coverage
default.csd
sound_evolution/test.dot
sound_evolution/test.jpg
doc/_build
doc/presentation1/pres1.synctex.gz
doc/presentation1/pres1.bbl
doc/presentation1/pres1.blg